/* Styling for the gallery */
.gallery {
    display: grid;
    width: 100%;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px; /* adjust as needed */
}

/* Styling for the gallery item */
.galleryItem {
    flex: 1 1 300px; /* flex-grow | flex-shrink | flex-basis */
    max-width: 450px; /* Set max width */
    max-height: 400px; /* Set max height */
    margin: 10px; /* Add margin all around */
}

/* Styling for the gallery item in dark theme */
[data-theme="dark"] .galleryItem {
    background-color: #333; /* Set background color */
}

/* Styling for the gallery item title */
.galleryItemTitle {
    padding-top: 20px; /* Add padding at the top */
    height: 20%; /* Set height to 20% of the parent container */
}

/* Styling for the gallery item title in dark theme */
[data-theme="dark"] .galleryItemTitle {
    color: #fff; /* Set text color */
}

/* Styling for the gallery item subtitle */
.galleryItemSubtitle {
    font-size: 13px; /* Set font size */
    height: 60%; /* Set height to 60% of the parent container */
    padding: 20px; /* Add padding all around */
}

/* Styling for the gallery item stars count */
.galleryItemStarsCount {
    position: absolute; /* Positioning relative to the nearest positioned ancestor */
    bottom: 0; /* Position at the bottom */
    left: 0; /* Position at the left */
}

/* Styling for the gallery item stars count in dark theme */
[data-theme="dark"] .galleryItemStarsCount {
    color: #fff; /* Set text color */
}

/* Styling for the badges (shield.io images) */
.badges {
    padding: 10px; /* Add padding all around */
}

/* Styling for one badge (shield.io image) */
.badge {
    padding: 2px;
}

/* Keep for future change on light vs dark theme */
.cardBreakLine {
    border-top: 1px solid #f0f0f0;
}

[data-theme="dark"] .cardBreakLine {
    border-top: 1px solid black;
}

/* Styling for the card header and footer footer - flex row with space between */
.cardHeader, .cardFooter  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.dialogTitle {
    margin-bottom: 16px;
    /* Make it flex row with space between */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}