/* Styling for the gallery */
.gallery {
    display: -webkit-flex; /* Use flexbox for layout, with webkit prefix for compatibility */
    display: flex; /* Use flexbox for layout */
    -webkit-flex-direction: row; /* Arrange items in a row, with webkit prefix for compatibility */
    flex-direction: row; /* Arrange items in a row */
    -webkit-flex-wrap: wrap; /* Allow items to wrap onto the next line, with webkit prefix for compatibility */
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    -webkit-justify-content: space-around; /* Distribute items evenly with equal space around them, with webkit prefix for compatibility */
    justify-content: space-around; /* Distribute items evenly with equal space around them */
    -webkit-align-content: flex-start; /* Align content blocks at the start of the container, with webkit prefix for compatibility */
    align-content: flex-start; /* Align content blocks at the start of the container */
    -webkit-align-items: flex-start; /* Align items at the start of the line, with webkit prefix for compatibility */
    align-items: flex-start; /* Align items at the start of the line */
    padding: 20px; /* Add padding all around */
    width: 100%; /* Full width */
}

/* Styling for the gallery item */
.galleryItem {
    flex: 1 1 300px; /* flex-grow | flex-shrink | flex-basis */
    height: 300px; /* Set height */
    margin: 10px; /* Add margin all around */
}

/* Styling for the gallery item in dark theme */
[data-theme="dark"] .galleryItem {
    background-color: #333; /* Set background color */
}

/* Styling for the gallery item title */
.galleryItemTitle {
    padding-top: 20px; /* Add padding at the top */
    height: 20%; /* Set height to 20% of the parent container */
}

/* Styling for the gallery item title in dark theme */
[data-theme="dark"] .galleryItemTitle {
    color: #fff; /* Set text color */
}

/* Styling for the gallery item subtitle */
.galleryItemSubtitle {
    font-size: 13px; /* Set font size */
    height: 60%; /* Set height to 60% of the parent container */
    padding: 20px; /* Add padding all around */
}

/* Styling for the gallery item stars count */
.galleryItemStarsCount {
    position: absolute; /* Positioning relative to the nearest positioned ancestor */
    bottom: 0; /* Position at the bottom */
    left: 0; /* Position at the left */
}

/* Styling for the gallery item stars count in dark theme */
[data-theme="dark"] .galleryItemStarsCount {
    color: #fff; /* Set text color */
}

/* Styling for the badges (shield.io images) */
.badges {
    padding: 10px; /* Add padding all around */
}

/* Styling for one badge (shield.io image) */
.badge {
    padding: 2px;
}